<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>contact-web</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListAction</servlet-name>
    <servlet-class>servlet.ListAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAction</servlet-name>
    <servlet-class>servlet.AddAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCodeAction</servlet-name>
    <servlet-class>servlet.CheckCodeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByIdAction</servlet-name>
    <servlet-class>servlet.FindByIdAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAction</servlet-name>
    <servlet-class>servlet.EditAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByIdAction2</servlet-name>
    <servlet-class>servlet.FindByIdAction2</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>ListAction</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAction</servlet-name>
    <url-pattern>/add.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeAction</servlet-name>
    <url-pattern>/checkCode.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByIdAction</servlet-name>
    <url-pattern>/find.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByIdAction2</servlet-name>
    <url-pattern>/find2.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAction</servlet-name>
    <url-pattern>/edit.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>